:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
@media (min-width: 400px) {
  .form {
    padding: 3rem;
  }
}
@media(min-width:630px){
  #container{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media(min-width:800px){
  #container{
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
@media(min-width:950px){
  #container{
    margin-left: 14rem;
    margin-right: 14rem;
  }
}
@media(min-width:1280px){
  #container{
    margin-left: 19rem;
    margin-right: 19rem;
  }
}
@media(min-width:1500px){
  #container{
    margin-left: 35rem;
    margin-right: 35rem;
  }
  .form{
    padding: 3.5rem
  }
}
body{
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      10deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/08/aprender-programacion-2027509.jpg?itok=mHzJrxJy);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  line-height: 1.2;
}
p {
  font-size: 1.125rem;
}
label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border: none;
}

#header {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
  text-align: center;
  padding: 0 0.625rem;
  margin-bottom: 1rem;
  font-family:'Roboto Condensed', sans-serif;
}
#description{
  margin-bottom: 4rem;
  font-family:'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: 200;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}
/* Form*/
form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.3rem;
  margin-bottom: 10%;
}
.text{
  padding: 0.25rem;
  
  
}
.txtbox{
  display: block;
  width: 95.5%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
}
#dropdown{
  display: block;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
.lbl{
  padding-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.txtbox:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
#dropdown:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
#submit-button {
  margin-left: 12px ;
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

