@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
}
.img-phone{
    height: 100vh;
    width: 45vw;
}
.container-form-sign
{
    background-color: white;
    width:54vw ;
    height: 100vh;
}
.body-style{
    padding-top: 3rem ;
    padding-bottom: 4.5rem ;
    padding-left: 4rem;
    padding-right: 4rem;
}
.tittle{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0.3rem ;
    font-weight: 400;
}
.text1{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.4rem;
    color: #8f9294;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
hr{
    border: 0;
    border-top:1px solid #DFE3E6 ;
}
.container-inputs{
    display: flex;
    flex-direction: row;
    gap: 14rem;
    margin-top: 2rem;
}
.container-inputs label{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.container-inputs input{
    border: 1px solid #afb1b3;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 20rem;
    margin-bottom: 1.5rem;
}
.container-checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 1rem;
}
.input-checkbox1{
    margin-top: 0.16rem;
}
.input-checkbox2{
    margin-top: 1.45rem;
}
.container-lbl-check{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    gap: 1rem;
}
.checkbox::before{
    background-color: #0071FF;
}
.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rowdies', cursive;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 3.5rem;
    padding: 0.7rem;
    text-decoration: none;
    width: 10rem;
    border-radius: 0.3rem;
    background-color: #0071FF;
    color: white;
}
.login{
    display: flex;
    font-family:'Ubuntu', sans-serif ;
    font-size: 0.9rem;
    margin-top: 1rem;    
}
