@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #242038; 
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    float: left;
    height: 100vh;
    gap: 80px;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    color:white;
    font-family: 'Segoe UI';
    font-style: italic;
}
form{
    background-color: #725AC1;
    display: flex;
    flex-direction: column;
    padding: 50px 30px 50px 30px ;
    margin: 0 30px 0 30px;
    border-radius: 10px;
    gap: 20px;
}
form label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}
form input{
    padding: 5px;
    width: 96%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #CAC4CE;
}
input:hover{
    background-color: #F7ECE1 ;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px; 
}
.btn-login{
    font-family: 'Lora', serif;
    width: 48%;
    height: 45px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    padding: 6px;
    background-color: #ACA5CC;
    color: white;
}
.google-pic img{
    position: absolute;
}
.btn-login:hover{
    opacity: 0.8;
}
.forgotten-password{
    gap: 10px;
    display: flex;
}
.forgotten-password a{
    color: white;
    text-decoration: none;
}
.image img{
    display: flex;
    float: right;
    width: 46.1vw;
    height: 100vh;
}